@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-image: url('bg-red.jpg');
  background-size: cover;
  /* background-position: top center; */
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); */
  padding: 0px;
  width: 400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 15px 15px;
  margin-bottom: 40px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 0px 16px 0px;
  /* border-bottom: 3px solid #3d82c5; */
  border-bottom: 3px solid #903886;
  font-size: 18px;
  font-weight: 400;
  transition: 0.2s ease-out;
  color: #313131;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

h1 {
  color: #FFF;
  font-size: 50px;
  text-align: center;
  font-weight: 900;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}

.location .date {
  color: #FFF;
  font-size: 20px;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}

.current .temp {
  color: #FFF;
  font-weight: 900;
  font-size: 102px;
  padding: 30px;
  text-shadow: 5px 8px rgba(0, 0, 0, 0.6);
  margin-top: 25px;
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}
